{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "semi": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "vueIndentScriptAndStyle": false
}
